.front-page {
    background: no-repeat center/80% url("phoneback.jpg");
    height: 80vh;
    background-size: cover;
    color: #020202;
}
.paypoint-index {
    background-image: linear-gradient(to right, rgba(76, 96, 97,0.8), rgba(76, 96, 97,0.5));
    height: 80vh;
}
.pay-btn {
    margin: 0 45%;
    width: 20vw;
}



